body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
   #wb_LayoutGrid1
   {
      background-attachment: scroll !important;
   }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)
{
   #wb_LayoutGrid1
   {
      background-attachment: scroll !important;
   }
}
#wb_top
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FBFBFB;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#top
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#top > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#top > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#top > .row > .col-1
{
   float: left;
}
#top > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#top:before,
#top:after,
#top .row:before,
#top .row:after
{
   display: table;
   content: " ";
}
#top:after,
#top .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#top > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   box-shadow: 0px 0px 6px #000000;
}
#LayoutGrid2
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 5px;
   padding-left: 5px;
   position: relative;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3
{
   flex: 0 0 auto;
}
#LayoutGrid2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 25%;
   max-width: 25%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid2 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 58.33333333%;
   max-width: 58.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#LayoutGrid2 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 320px)
{
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#Layer1
{
   background-color: #000000;
   background-image: none;
   border-radius: 50%;
   opacity: 0.75;
}
#wb_Icon12
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_Icon12 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#Icon12
{
   height: 24px;
   width: 24px;
}
#Icon12 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 23px;
}
#wb_Icon12:hover #Icon12 i
{
   color: #EC9C29;
}
#wb_footerText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 5px 0 0 10px;
   margin: 0;
   text-align: center;
}
#wb_footerText2 div
{
   text-align: center;
}
#wb_footerText2
{
   display: inline-block;
   margin: 0;
   width: 214px;
   height: 25px;
}
#Button1
{
   box-sizing: border-box;
   line-height: 24px;
   text-decoration: none;
   vertical-align: top;
   border: 2px solid #000000;
   border-radius: 0px;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 11px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
}
#Button1:focus
{
   outline: 0;
}
#Button1
{
   background-color: #000000;
   color: #FFFFFF;
   transition: background-color 500ms linear 0ms, color 500ms linear 0ms;
}
#Button1:hover
{
   color: #000000;
   background-color: #FFFFFF;
   transition: color 500ms linear 0ms, background-color 500ms linear 0ms;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 149px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_ResponsiveMenu2
{
   display: block;
   background-color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: bold;
   text-align: center;
   width: 100%;
   z-index: 1111 !important;
}
#ResponsiveMenu2
{
   display: inline-block;
   background-color: #FFFFFF;
   height: 41px;
}
#wb_ResponsiveMenu2 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu2 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu2 ul li
{
   border-radius: 0;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu2 ul li i
{
   font-size: 0px;
   width: 0px;
}
#wb_ResponsiveMenu2 ul li a
{
   background-color: #FFFFFF;
   color: #696969;
   font-family: "Open Sans";
   font-weight: bold;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   padding: 15px 10px 7px 10px;
   text-align: center;
}
#wb_ResponsiveMenu2 > ul > li > a 
{
   height: 19px;
}
.ResponsiveMenu2 a 
{
   display: block;
}
#wb_ResponsiveMenu2 li:hover > a, #wb_ResponsiveMenu2 li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu2 ul ul
{
   display: none;
   position: absolute;
   top: 41px;
}
#wb_ResponsiveMenu2 ul li:hover > ul
{
   display: list-item;
}
#wb_ResponsiveMenu2 ul ul li 
{
   float: none;
   position: relative;
   width: 105px;
}
#wb_ResponsiveMenu2 ul ul li a
{
   background-color: #7A7A7A;
   border: 0px solid #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu2 ul ul li:hover > a, #wb_ResponsiveMenu2 ul ul li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu2 ul ul li i 
{
   margin-right: 0px;
   vertical-align: middle;
}
#wb_ResponsiveMenu2 ul ul li a 
{
   padding-top: 15px;
   padding-right: 20px;
   padding-bottom: 15px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu2 ul ul ul li 
{
   left: 105px;
   position: relative;
   top: -41px;
}
#wb_ResponsiveMenu2 .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #696969;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_ResponsiveMenu2 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_ResponsiveMenu2 li:hover > a .arrow-down, #wb_ResponsiveMenu2 li .active .arrow-down
{ 
   border-top-color: #424242;
}
#wb_ResponsiveMenu2 ul ul li:hover > a .arrow-left, #wb_ResponsiveMenu2 ul ul li .active .arrow-left
{ 
   border-left-color: #424242;
}
#wb_ResponsiveMenu2 .toggle,[id^=ResponsiveMenu2-submenu]
{
   display: none;
}
@media all and (max-width:768px) 
{
#wb_ResponsiveMenu2
{
   margin: 0;
   text-align: left;
}
#wb_ResponsiveMenu2 ul li a, #wb_ResponsiveMenu2 .toggle
{
   font-size: 15px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   padding: 15px 20px 15px 20px;
}
#wb_ResponsiveMenu2 .toggle + a
{
   display: none !important;
}
.ResponsiveMenu2 
{
   display: none;
   z-index: 9999;
}
#ResponsiveMenu2 
{
   background-color: transparent;
   display: none;
}
#wb_ResponsiveMenu2 > ul > li > a 
{
   height: auto !important;   margin: 0;
}
#wb_ResponsiveMenu2 .toggle 
{
   display: block;
   background-color: #FFFFFF;
   color: #696969;
   padding: 0 20px 0 20px;
   line-height: 30px;
   text-decoration: none;
   border: none;
   position: relative;
}
#wb_ResponsiveMenu2 .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
[id^=ResponsiveMenu2-submenu]:checked + ul 
{
   display: block !important;
}
#ResponsiveMenu2-title
{
   height: 41px !important;
   line-height: 41px !important;
   text-align: center;
}
#wb_ResponsiveMenu2 ul li 
{
   display: block;
   width: 100% !important;
   text-align: left;
}
#wb_ResponsiveMenu2 ul ul .toggle,
#wb_ResponsiveMenu2 ul ul a 
{
   padding: 0 40px;
}
#wb_ResponsiveMenu2 a:hover,
#wb_ResponsiveMenu2 ul ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu2 ul li ul li .toggle,
#wb_ResponsiveMenu2 ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu2 ul ul ul a 
{
   padding: 15px 20px 15px 60px;
}
#wb_ResponsiveMenu2 ul li a 
{
   text-align: left;
}
#wb_ResponsiveMenu2 ul li a br 
{
   display: none;
}
#wb_ResponsiveMenu2 ul li i 
{
   margin-right: 0px;
}
#wb_ResponsiveMenu2 ul ul 
{
   float: none;
   position: static;
}
#wb_ResponsiveMenu2 ul ul li:hover > ul,
#wb_ResponsiveMenu2 ul li:hover > ul 
{
   display: none;
}
#wb_ResponsiveMenu2 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu2 ul ul ul li 
{
   position: static;
}
#ResponsiveMenu2-icon 
{
   display: block;
   position: absolute;
   left: 10px;
   top: 8px;
}
#ResponsiveMenu2-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #696969;
   color: #696969;
   width: 24px;
}
#wb_ResponsiveMenu2 ul li ul li .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu2 .toggle .arrow-down 
{
   border-top-color: #696969;
}
#wb_ResponsiveMenu2 .toggle:hover .arrow-down, #wb_ResponsiveMenu2 li .active .arrow-down
{
   border-top-color: #424242;
}
#wb_ResponsiveMenu2 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu2 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu2 ul li ul li .active .arrow-down
{
   border-top-color: #424242;
}
}
#wb_Icon13
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   opacity: 0.75;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon13 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon13:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#Icon13
{
   height: 22px;
   width: 22px;
}
#Icon13 i
{
   color: #FF0000;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_Icon13:hover #Icon13 i
{
   color: #BF7834;
}
#wb_Icon14
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   opacity: 0.75;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon14 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon14:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#Icon14
{
   height: 22px;
   width: 22px;
}
#Icon14 i
{
   color: #FA8072;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_Icon14:hover #Icon14 i
{
   color: #BF7834;
}
#wb_Icon15
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   opacity: 0.75;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon15 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon15:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#Icon15
{
   height: 22px;
   width: 22px;
}
#Icon15 i
{
   color: #87CEFA;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_Icon15:hover #Icon15 i
{
   color: #BF7834;
}
#wb_Icon16
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   opacity: 0.75;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon16 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon16:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#Icon16
{
   height: 22px;
   width: 22px;
}
#Icon16 i
{
   color: #1E90FF;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_Icon16:hover #Icon16 i
{
   color: #BF7834;
}
#wb_Icon17
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   opacity: 0.75;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon17 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon17:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#Icon17
{
   height: 22px;
   width: 22px;
}
#Icon17 i
{
   color: #00BFFF;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_Icon17:hover #Icon17 i
{
   color: #BF7834;
}
#wb_Icon18
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   opacity: 0.75;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon18 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon18:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#Icon18
{
   height: 22px;
   width: 22px;
}
#Icon18 i
{
   color: #008000;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_Icon18:hover #Icon18 i
{
   color: #BF7834;
}
#wb_Icon19
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #EDE9E1;
   border-radius: 50%;
   text-align: center;
   opacity: 0.75;
   margin: 0 5px 0 0 ;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon19 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon19:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #645E59;
}
#Icon19
{
   height: 22px;
   width: 22px;
}
#Icon19 i
{
   color: #FF0000;
   display: inline-block;
   font-size: 22px;
   line-height: 22px;
   vertical-align: middle;
   width: 21px;
}
#wb_Icon19:hover #Icon19 i
{
   color: #BF7834;
}
#wb_layoutGridAbout
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#layoutGridAbout
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#layoutGridAbout > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#layoutGridAbout > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#layoutGridAbout > .row > .col-1
{
   float: left;
}
#layoutGridAbout > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#layoutGridAbout:before,
#layoutGridAbout:after,
#layoutGridAbout .row:before,
#layoutGridAbout .row:after
{
   display: table;
   content: " ";
}
#layoutGridAbout:after,
#layoutGridAbout .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#layoutGridAbout > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('https://drive.google.com/uc?id=1rIDBvmCbk60u7gx3ynpBWatZpgxwVDSu');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_layoutGridProducts
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#layoutGridProducts
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#layoutGridProducts > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#layoutGridProducts > .row > .col-1, #layoutGridProducts > .row > .col-2, #layoutGridProducts > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#layoutGridProducts > .row > .col-1, #layoutGridProducts > .row > .col-2, #layoutGridProducts > .row > .col-3
{
   float: left;
}
#layoutGridProducts > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#layoutGridProducts > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 0 15px 0;
}
#layoutGridProducts > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#layoutGridProducts > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 0 15px 0;
}
#layoutGridProducts > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#layoutGridProducts > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 0 15px 0;
}
#layoutGridProducts:before,
#layoutGridProducts:after,
#layoutGridProducts .row:before,
#layoutGridProducts .row:after
{
   display: table;
   content: " ";
}
#layoutGridProducts:after,
#layoutGridProducts .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#layoutGridProducts > .row > .col-1, #layoutGridProducts > .row > .col-2, #layoutGridProducts > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 20px 0 20px 0 ;
   padding: 0;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 19px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
   padding: 0;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 20px 0 20px 0 ;
   padding: 0;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 19px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
   padding: 0;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: center;
}
#Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 20px 0 20px 0 ;
   padding: 0;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 19px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 20px 0 0 0 ;
   padding: 0;
   color: #292B2C;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 25px 0 ;
   padding: 0;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: center;
   -webkit-text-stroke: 1px #000000;
   text-stroke: 1px #000000;
   text-shadow: 0px 0px 10px rgba(0,0,0,0.50);
}
#wb_Text1 
{
   background-color: rgba(0,0,0,0.50);
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 30px 30px 30px 30px;
   margin: 0 0 25px 0 ;
   text-align: justify;
}
#Text1-max-width
{
   margin-left: auto;
   margin-right: auto;
   max-width: 600px;
   width: 100%;
}
#wb_Text1 div
{
   text-align: justify;
}
#wb_Text1
{
   display: block;
   margin: 0 0 25px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#ThemeableButton4
{
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton4
{
   border-radius: 0px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton4
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton4 .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#ThemeableButton4
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton4 :hover
{
   color: #2B2B2B;
}
#ThemeableButton4 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton4 .ui-primary
{
   background-image: none !important;
   font-family: "Material Icons";
   font-size: 24px;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   margin-top: 0;
   text-indent: 0;
   display: inline-block;
   overflow: visible;
   margin-right: 6px;
   vertical-align: middle;
   width: 24px;
   height: 24px;
   color: #FFFFFF;
}
#wb_ThemeableButton4 .ui-primary:before
{
   content: "\e0d0";
}
#wb_ThemeableButton4:hover .ui-primary
{
   color: #2B2B2B;
}
#wb_ThemeableButton4:active .ui-primary
{
   color: #000000;
}
#wb_ThemeableButton4 .ui-corner-all, #wb_ThemeableButton4 .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#wb_ThemeableButton4 .ui-corner-all, #wb_ThemeableButton4 .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#wb_ThemeableButton4 .ui-button
{
   background-color: rgba(0,0,0,0.50);
   background-image: none;
   border: 2px solid #FFFFFF;
   color: #FFFFFF;
}
#wb_ThemeableButton4 .ui-state-hover, #wb_ThemeableButton4 .ui-button:hover
{
   border-color: #FFFFFF;
   background-color: #FFFFFF;
   background-image: none;
   color: #2B2B2B;
}
#wb_ThemeableButton4 .ui-state-active, #wb_ThemeableButton4 .ui-button:active
{
   border-color: #FFFFFF;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
}
#wb_LayoutGrid7
{
   clear: both;
   position: fixed;
   left: 0;
   bottom: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F5F5F5;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   box-shadow: 0px 0px 5px #000000;
}
#LayoutGrid7
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 5px;
   padding-left: 5px;
   position: relative;
}
#LayoutGrid7 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid7 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 500px)
{
#LayoutGrid7 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
